* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar-top {
  transition: all 0.5s;
  /* custom toggler */
}
.navbar-top img.logo {
  height: 7vh;
}
.navbar-top .logo-text {
  color: white;
  padding: 5px 8px;
  border-radius: 10px;
  font-size: xx-large;
  height: 200px;
  font-family: "MonteCarlo", cursive;
}
.navbar-top li a {
  font-family: "Josefin Sans", sans-serif;
  transition: all ease 300ms;
}
.navbar-top li a.active {
  font-weight: bold;
}
.navbar-top li a:hover {
  transform: translateY(-2px);
}
.navbar-top .socialLinks-1 a,
.navbar-top .socialLinks-2 a {
  text-decoration: none;
  margin-right: 10px;
}
.navbar-top .socialLinks-1 a img,
.navbar-top .socialLinks-2 a img {
  width: 25px;
  opacity: 0.8;
}
.navbar-top .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, .9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
@media screen and (min-width: 50px) and (max-width: 992px) {
  .navbar-top .socialLinks-2 {
    display: none;
  }
}

.navbar-scrolled {
  background-color: #978371;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.carousel-header .bg-img-1 {
  background-image: url("../img/index1.webp");
}
.carousel-header .bg-img-2 {
  background-image: url("../img/index2.webp");
}
.carousel-header .bg-img-3 {
  background-image: url("../img/index3.webp");
}
.carousel-header .carousel-image {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel-header .background-tint {
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}
.carousel-header .carousel-caption {
  top: 40%;
}
.carousel-header h3 {
  font-family: "Josefin Sans", sans-serif;
}
.carousel-header a {
  text-decoration: none;
  color: white;
}
.carousel-header a h2 {
  font-family: "MonteCarlo", cursive;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}
.carousel-header a .btn {
  background-color: #ece3db;
  color: #271d14;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 10rem;
  font-family: "Viaoda Libre", cursive;
}

header {
  background: url(https://media.gq-magazine.co.uk/photos/60d5ac0cbb8986e188ac69e4/master/w_1920,h_1280,c_limit/24062021_food_01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 40vh;
}
header .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
header h1 {
  color: white;
  margin: auto;
  font-family: "Viaoda Libre", cursive;
  font-size: 5em;
}

.gallery-into {
  margin: 4rem auto;
}

footer {
  margin-top: 5vh;
  font-family: "Josefin Sans", sans-serif;
}
footer .row-sign-up {
  height: 22vh;
  background-color: #ece3db;
  color: #271d14;
}
footer .form-col, footer form {
  height: 100%;
}
footer form {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer form input {
  height: 2.5rem;
}
@media screen and (max-width: 991px) {
  footer form label, footer form input {
    margin-bottom: 5px;
  }
  footer form input {
    width: 20rem;
  }
}
@media screen and (min-width: 992px) {
  footer .row-sign-up {
    height: 15vh;
  }
  footer form {
    flex-direction: row;
  }
  footer form label, footer form input {
    margin-right: 10px;
  }
  footer form input {
    width: 20em;
  }
}
footer form button {
  border-radius: 5px;
  border: 1px solid #ece3db;
  background-color: #978371;
  color: white;
  padding: 0.4em 2em;
}
footer .row-form {
  text-align: center;
}
footer .row-footer {
  height: 36vh;
  background-color: #271d14;
}
footer .row-copyright {
  height: 4vh;
  background-color: black;
}

/*# sourceMappingURL=styles.css.map */
