* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.navbar-top {
  transition: all 0.5s;
  /* custom toggler */
}
.navbar-top img.logo {
  height: 7vh;
}
.navbar-top .logo-text {
  color: white;
  padding: 5px 8px;
  border-radius: 10px;
  font-size: xx-large;
  height: 200px;
  font-family: "MonteCarlo", cursive;
}
.navbar-top li a {
  font-family: "Josefin Sans", sans-serif;
  transition: all ease 300ms;
}
.navbar-top li a.active {
  font-weight: bold;
}
.navbar-top li a:hover {
  transform: translateY(-2px);
}
.navbar-top .socialLinks-1 a,
.navbar-top .socialLinks-2 a {
  text-decoration: none;
  margin-right: 10px;
}
.navbar-top .socialLinks-1 a img,
.navbar-top .socialLinks-2 a img {
  width: 25px;
  opacity: 0.8;
}
.navbar-top .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, .9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
@media screen and (min-width: 50px) and (max-width: 992px) {
  .navbar-top .socialLinks-2 {
    display: none;
  }
}

.navbar-scrolled {
  background-color: #978371;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.carousel-header .bg-img-1 {
  background-image: url("../img/index1.webp");
}
.carousel-header .bg-img-2 {
  background-image: url("../img/index2.webp");
}
.carousel-header .bg-img-3 {
  background-image: url("../img/index3.webp");
}
.carousel-header .carousel-image {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel-header .background-tint {
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}
.carousel-header .carousel-caption {
  top: 40%;
}
.carousel-header h3 {
  font-family: "Josefin Sans", sans-serif;
}
.carousel-header a {
  text-decoration: none;
  color: white;
}
.carousel-header a h2 {
  font-family: "MonteCarlo", cursive;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}
.carousel-header a .btn {
  background-color: #ece3db;
  color: #271d14;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 10rem;
  font-family: "Viaoda Libre", cursive;
}

header {
  height: 40vh;
}
header .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
header h1 {
  color: white;
  margin: auto;
  font-family: "Viaoda Libre", cursive;
}

header.gallery {
  background: url(https://media.gq-magazine.co.uk/photos/60d5ac0cbb8986e188ac69e4/master/w_1920,h_1280,c_limit/24062021_food_01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

header.contact {
  background: url(https://ca-times.brightspotcdn.com/dims4/default/f0be189/2147483647/strip/true/crop/6240x4160+0+0/resize/1486x991!/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F34%2Faa%2F9c0493024b13bec2da0578af084f%2Fmr-surfandturf-champagne.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

header.blog {
  background: url(https://img.freepik.com/premium-photo/luxury-food-wedding-table-small-appetizers-white-plates-raw-with-snacks-closeup_116317-7442.jpg?w=2000);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

header.reservation {
  background: url(https://img.freepik.com/premium-photo/luxury-table-setting-dining-restaurant-pastel-colors-close-up-wedding-party-table-set-banquet_324489-5415.jpg?w=2000);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

header.menu {
  background: url(https://huntervalleywinetours.files.wordpress.com/2013/07/shutterstock_59742380.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

header.about {
  background: url(https://www.lux-review.com/wp-content/uploads/2020/08/oysters-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.gallery-into {
  margin: 4rem auto;
}

footer.container-fluid {
  padding: 0 !important;
}
footer.container-fluid p {
  font-weight: 100;
}

footer {
  margin-top: 5vh;
  font-family: "Josefin Sans", sans-serif;
}
footer .row-sign-up {
  height: 22vh;
  background-color: #ece3db;
  color: #271d14;
}
footer .form-col, footer form {
  height: 100%;
}
footer form {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer form input {
  height: 2.5rem;
  border-radius: 10px;
  border: 1px solid #978371;
}
@media screen and (max-width: 991px) {
  footer form label, footer form input {
    margin-bottom: 5px;
  }
  footer form input {
    width: 20rem;
  }
}
@media screen and (min-width: 992px) {
  footer .row-sign-up {
    height: 15vh;
  }
  footer form {
    flex-direction: row;
  }
  footer form label, footer form input {
    margin-right: 10px;
  }
  footer form input {
    width: 20em;
  }
}
footer form button {
  border-radius: 10px;
  border: 1px solid #ece3db;
  background-color: #978371;
  color: white;
  padding: 0.4em 2em;
}
footer .row-main {
  height: auto;
  background-color: #271d14;
  color: white;
}
footer .row-main a {
  color: #aa5851;
}
footer .row-main .container {
  height: 100%;
  max-width: 1320px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer .row-main .container .row .column1,
footer .row-main .container .row .column2,
footer .row-main .container .row .column3 {
  height: 36vh;
}
@media screen and (min-width: 100px) and (max-width: 576px) {
  footer .row-main {
    height: auto;
  }
  footer .row-main .container {
    height: auto;
    grid-template-columns: 1fr;
  }
}
footer .column1 img {
  width: 1em;
  height: 1em;
  margin-right: 1em;
  margin-top: 0.2em;
}
footer .column2 img {
  width: 1.3em;
  height: 1.3em;
  margin-right: 0.5em;
  padding-top: 0.2em;
}
footer .mini-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.3em;
}
footer .mini-gallery img {
  width: 100%;
  margin-bottom: 0.3em;
}
footer .copyright {
  height: auto;
  background-color: black;
  color: white;
}
footer .copyright a {
  text-decoration: none;
}
footer .copyright img {
  width: 1.5em;
  opacity: 0.8;
}
footer .copyright-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}
footer .copyright-flex .social-footer {
  margin-bottom: 0.5em;
}
footer .copyright-flex .social-footer img {
  margin: 0 0.5em;
}
@media screen and (min-width: 768px) {
  footer .copyright-flex {
    margin: auto;
    max-width: 1320px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5em;
  }
  footer .copyright-text {
    margin-top: 0.5em;
    margin-right: 0.8em;
  }
}

.map-responsive {
  width: 80%;
  margin: 3em auto;
  max-width: 1320px;
}
.map-responsive iframe {
  width: 100%;
}

.contact-page .contact {
  margin: auto;
  font-family: "Josefin Sans", sans-serif;
  color: #271d14;
}
.contact-page .contact .container-lg {
  display: grid;
  grid-template-columns: 1fr;
}

.contact-page .form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.contact-page .form-item input, .contact-page .form-item textarea {
  border-radius: 10px;
  padding: 0.4em;
  border: 2px solid #ece3db;
}

.contact form .title {
  margin: 2em auto 2em;
  text-transform: uppercase;
}

.contact-page form .submit,
.contact-page form .title {
  text-align: center;
}

.contact-page .contact form button {
  width: 30%;
  padding: 0.5em 0;
  border-radius: 10px;
  border: 2px solid #ece3db;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #7e634f;
  color: #ece3db;
  margin-bottom: 4em;
}

@media screen and (min-width: 768px) {
  .contact form {
    max-width: 800px;
    gap: 0.8em;
    grid-template-columns: 233% 33% 1fr;
    grid-template-areas: "title title title" "item1 item2 item3" "item4 item4 item4" "submit submit submit";
  }
  form .title {
    grid-area: title;
  }
  form .item1 {
    grid-area: item1;
  }
  form .item2 {
    grid-area: item2;
  }
  form .item3 {
    grid-area: item3;
  }
  form .item4 {
    grid-area: item4;
  }
  form .submit {
    grid-area: submit;
  }
}
.contact-info {
  max-width: 1300px;
  margin: auto;
  margin-top: 2em;
}
.contact-info img {
  width: 1.5em;
  margin: 1em 2em 1em 1em;
}
.contact-info h3 {
  text-transform: uppercase;
  margin-bottom: 0.8em;
}
.contact-info .info-1, .contact-info .info-2, .contact-info .info-3 {
  display: flex;
  margin-bottom: 3em;
}

@media screen and (min-width: 768px) {
  .contact-info .info-1 {
    padding-right: 3em;
  }
}
.booking {
  max-width: 750px;
  color: #271d14;
  font-family: "Josefin Sans", sans-serif;
}
.booking .booking-title {
  text-align: center;
  margin-top: 5em;
}
.booking .booking-title h3 {
  font-style: italic;
  margin-bottom: 0.4em;
  font-family: "Viaoda Libre", cursive;
  color: #aa5851;
}
.booking .booking-title h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2em;
}
.booking .form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}
.booking .form-item input, .booking .form-item select {
  padding: 0.5em;
  border: 2px solid #ece3db;
  border-radius: 10px;
}
.booking .book-submit {
  text-align: center;
}
.booking .book-submit input {
  padding: 0.4em 1em;
  border: 1px solid #271d14;
  border-radius: 10px;
  background-color: #503825;
  color: white;
}
@media screen and (min-width: 768px) {
  .booking form {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "item1 item2 item3" "item4 item5 item6" "submit submit submit";
  }
  .booking .item1 {
    grid-area: item1;
  }
  .booking .item2 {
    grid-area: item2;
  }
  .booking .item3 {
    grid-area: item3;
  }
  .booking .item4 {
    grid-area: item4;
  }
  .booking .item5 {
    grid-area: item5;
  }
  .booking .item6 {
    grid-area: item6;
  }
  .booking .book-submit {
    grid-area: submit;
    margin-top: 0.8em;
  }
}

.book-by-call {
  margin-top: 4em;
}
.book-by-call .by-phone {
  padding-bottom: 3em;
}
.book-by-call h4 {
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.book-by-call span.color-red {
  color: #aa5851;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .book-by-call {
    margin: 4em auto;
    max-width: 1200px;
  }
  .by-phone {
    padding-top: -4em;
  }
}

/*# sourceMappingURL=styles.css.map */
