main.about-page {

    padding: 0;
    margin: 0;

    .intro, {
        margin: auto;
        text-align: center;
        max-width: 650px;
    }

    h4 {
        font-family: $font-2;
        font-style: italic;
        color: $highlight-color-2;
        text-transform: capitalize;
    }

    h2, p {
        color: $main-color-4;
        font-family: $font-3;
    }

    h2 {
        text-transform: uppercase;
    }

    .video {
        height: 40vh;
        background-image: url(../img/backgrounds/1.jpg);
        background-repeat: no-repeat;
        background-position:center;
        -webkit-background-size: cover;
        background-size: cover;
        padding: 0;
        margin-left: 0;
        margin-right: 0;

        .overlay {
            background-color: rgba(0, 0, 0, 0.3);
            background-blend-mode: multiply;
            height: 100%;
            width: 100%;
        }

        .content {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            h2 {
                color: white;
            }

            img {
                background-color: white;
                border-radius: 100%;
                padding: 1em 0.8em 1em 1.2em;
                width: 64px;
            }
        }
    }

    .info-1 {

        max-width: 1200px;

        .info-1-img {
            border-radius: 10px;
            height: 25vh;
            background-image: url(https://media.istockphoto.com/id/1155240467/photo/table-filled-with-large-variety-of-food.jpg?s=612x612&w=0&k=20&c=1i60bjx-UYCAB4tavW5zR4SEqRkVjAx2b1oV5dF6o2A=);
            background-repeat: no-repeat;
            background-position:center;
            -webkit-background-size: cover;
            background-size: cover;
        }
    }

    @media screen and (min-width: 768px) {
        .info-1 {
            display: flex;
        }
    }










}