.carousel-header {

    .bg-img-1 {
        background-image: url('../img/index1.webp');
    }

    .bg-img-2 {
        background-image: url('../img/index2.webp');
    }

    .bg-img-3 {
        background-image: url('../img/index3.webp');
    }

    .carousel-image {
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .background-tint {
        background-color: rgba(0, 0, 0, 0.40);
        background-blend-mode: multiply;
    }

    .carousel-caption {
        top: 40%
    }

    h3 {
        font-family: $font-3;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a h2 {
        font-family: 'MonteCarlo', cursive;
        text-shadow: 0px 3px 0px #b2a98f,
        0px 14px 10px rgba(0, 0, 0, 0.15),
        0px 24px 2px rgba(0, 0, 0, 0.1),
        0px 34px 30px rgba(0, 0, 0, 0.1);
    }

    a .btn {
        // background-color: $main-color-1;
        // color: $main-color-4;
        // border: 1px solid rgba(255, 255, 255, 0.5);
        // width: 10rem;
        // font-family: $font-2;
    }

             
    .btn-grad-gold {
        background-image: linear-gradient(to right, #eacda3 0%, #d6ae7b  51%, #eacda3  100%);
        margin: auto;
        padding: 1em;
        width: 14rem;
        font-family: $font-2;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        border-color: $main-color-1;
      }

      .btn-grad-gold:hover {
        background-position: right center; /* change the direction of the change here */
        color: $main-color-3;
        text-decoration: none;
      }
     
               
    .btn-grad-light {
        background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
        margin: auto;
        padding: 1em;
        width: 14rem;
        font-family: $font-2;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: $main-color-2;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        border-color: $main-color-1;
      }

      .btn-grad-light:hover {
        background-position: right center; /* change the direction of the change here */
        color: $main-color-4;
        text-decoration: none;
      }
     
}