.map-responsive {
    width: 80%;
    margin: 3em auto;
    max-width: 1320px;

    iframe {
        width: 100%;
    }
}

.contact-page .contact {
    margin: auto;
    font-family: $font-3;
    color: $main-color-4;
    
    .container-lg {
        display: grid;
        grid-template-columns: 1fr;
    }


}

.contact-page .form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;


    input, textarea {
        border-radius: 10px;
        padding: 0.4em;
        border: 2px solid $main-color-1;
    }
}

.contact form .title {
    margin: 2em auto 2em;
    text-transform: uppercase;
}

.contact-page form .submit,
.contact-page form .title {
    text-align: center;
}

.contact-page .contact form button {
    width: 30%;
    padding: 0.5em 0;
    border-radius: 10px;
    border: 2px solid $main-color-1;
    font-size: 1.1em;
    font-weight: bold;
    background-color: $secondary-color-3;
    color: $main-color-1;
    margin-bottom: 4em;
}


@media screen and (min-width: 768px) {
    .contact form {
        max-width: 800px;
        gap: 0.8em;
        grid-template-columns: 233% 33% 1fr;
        grid-template-areas: 
            "title title title"
            "item1 item2 item3"
            "item4 item4 item4"
            "submit submit submit";
    }

    form .title {
        grid-area: title;
    }

    form .item1 {
        grid-area: item1;
    }
 
    form .item2 {
        grid-area: item2;
    }

    form .item3 {
        grid-area: item3;
    }

    form .item4 {
        grid-area: item4;
    }

    form .submit {
        grid-area: submit;
    }
}

.contact-info {
    max-width: 1300px;
    margin: auto;
    margin-top: 2em;


    img {
        width: 1.5em;
        margin: 1em 2em 1em 1em;
    }

    h3 {
        text-transform: uppercase;
        margin-bottom: 0.8em;
    }

    .info-1, .info-2, .info-3 {
        display: flex;
        margin-bottom: 3em;

    }
}

@media screen and (min-width: 768px)  {
    .contact-info .info-1 {
        padding-right: 3em;
    }
}