footer {
    margin-top: 5vh;
    
    .row-sign-up {
        height: 15vh;
        background-color: $main-color-1;
    }

    .row-footer {
        height: 36vh;
        background-color: $main-color-4;
    }

    .row-copyright {
        height: 4vh;
        background-color: black;
    }

}