footer.container-fluid {
    padding: 0!important;

    p {
        font-weight: 200;
    }

    p.date {
        opacity: 0.5;
        font-size: 0.8em;
    }
}


footer {
    margin-top: 5vh;
    font-family: $font-3;

    
    
    .row-sign-up {
        height: 22vh;
        background-color: $main-color-1;
        color: $main-color-4;
    }

    .form-col, form {
        height: 100%;
    }

    form {
        text-transform: uppercase;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    form input {
        height: 2.5rem;
        border-radius: 10px;
        border: 1px solid $main-color-2;
    }

    @media screen and (max-width: 991px) {
        form label, form input {
            margin-bottom: 5px;
        }

        form input {
            width: 20rem;
        }
    }

    @media screen and (min-width: 992px) {
        .row-sign-up {
            height: 15vh;
        }

        form {
            flex-direction: row;
        }

        form label, form input {
            margin-right: 10px;
        }

        form input {
            width: 20em;
            
        }
    }

    form button {
        border-radius: 10px;
        border: 1px solid $main-color-1;
        background-color: $main-color-2;
        color: white;
        padding: 0.4em 2em;
    }



    .row-main {
        height: auto;
        background-color: $main-color-4;
        color: white;

        a {
            color: $highlight-color-1;
        }
    }


    .row-main .container {
        height: 100%;
        max-width: 1320px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }



    .row-main .container .row .column1,
    .row-main .container .row .column2,
    .row-main .container .row .column3 {
        height: 36vh;
    }

    @media screen and (min-width: 100px) and (max-width: 576px) {
        .row-main {
            height: auto;
        }
        .row-main .container {
            height: auto;
            grid-template-columns: 1fr;
        }
    }

    .column1 img {
        width: 1em;
        height: 1em;
        margin-right: 1em;
        margin-top: 0.2em;
    }

    .column2 img {
        width: 1.2em;
        height: 1.2em;
        margin-right: 0.5em;
        padding-top: 0.2em;
    }

    .mini-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0.3em;
    }

    .mini-gallery img {
        width: 100%;
        margin-bottom: 0.3em;;
    }
    






    .copyright {
        height: auto;
        background-color: black;
        color: white;

        a {
            text-decoration: none;
        }

        img {
            width: 1.5em;
            opacity: 0.8;
        }


    }

    .copyright-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 1em;

        .social-footer {
            margin-bottom: 0.5em;

            img {
                margin: 0 0.5em;
            }
        }
    }

    @media screen and (min-width: 768px) {

        .copyright-flex {
            margin: auto;
            max-width: 1320px;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 0.5em;
        }

        .copyright-text {
            margin-top: 0.5em;
            margin-right: 0.8em;
        }
        
    }
}