main.menu {
    font-family: $font-3;

    .first {
        display: grid;
        grid-template-columns: 1fr;


        @media screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            column-gap: 2em;
        }
    }

    h3 {
        font-family: $font-2;
        margin-bottom: 1em;
        font-weight: bold;
        margin-top: 2em;

    }



    .menu-item {
        display: flex;
        margin-bottom: 1em;

        .menu-pic {
            width: 10rem;
            height: 10rem;
            min-width: 10rem;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            background-color: beige;
            margin-right: 0.5em;
            border: 1px solid $main-color-1;
            
        }

        .info p {
            font-size: smaller;
        }

        .info h6,
        .info .price {
            font-weight: bold;
        }

    }



    .menu-img-holder1 {
        background: url(../img/menu/1.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 500ms ease;
    }


    .menu-img-holder2 {
        background: url(../img/menu/2.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    .menu-img-holder3 {
        background: url(../img/menu/3.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    .menu-img-holder4 {
        background: url(../img/menu/4.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    .menu-img-holder5 {
        background: url(../img/menu/5.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    .menu-img-holder6 {
        background: url(../img/menu/6.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    .menu-img-holder7 {
        background: url(../img/menu/7.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    .menu-img-holder9 {
        background: url(../img/menu/9.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    .menu-img-holder8 {
        background: url(../img/menu/8.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    .menu-img-holder10 {
        background: url(../img/menu/10.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    .menu-img-holder11 {
        background: url(../img/menu/11.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    .menu-img-holder12 {
        background: url(../img/menu/12.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    .menu-img-holder13 {
        background: url(../img/menu/13.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    .menu-img-holder14 {
        background: url(../img/menu/14.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    .menu-img-holder15 {
        background: url(../img/menu/15.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    .menu-img-holder16 {
        background: url(../img/menu/16.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    .menu-img-holder17 {
        background: url(../img/menu/17.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    .menu-img-holder18 {
        background: url(../img/menu/18.webp);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }











    
    .menu-item .menu-pic .menu-img-holder1:hover,
    .menu-item .menu-pic .menu-img-holder2:hover,
    .menu-item .menu-pic .menu-img-holder3:hover,
    .menu-item .menu-pic .menu-img-holder4:hover,
    .menu-item .menu-pic .menu-img-holder5:hover,
    .menu-item .menu-pic .menu-img-holder6:hover,
    .menu-item .menu-pic .menu-img-holder7:hover,
    .menu-item .menu-pic .menu-img-holder8:hover,
    .menu-item .menu-pic .menu-img-holder9:hover,
    .menu-item .menu-pic .menu-img-holder10:hover,
    .menu-item .menu-pic .menu-img-holder11:hover,
    .menu-item .menu-pic .menu-img-holder12:hover,
    .menu-item .menu-pic .menu-img-holder13:hover,
    .menu-item .menu-pic .menu-img-holder14:hover,
    .menu-item .menu-pic .menu-img-holder15:hover,
    .menu-item .menu-pic .menu-img-holder16:hover,
    .menu-item .menu-pic .menu-img-holder17:hover,
    .menu-item .menu-pic .menu-img-holder18:hover {
        transform: scale(1.1)
    }

}