$main-color-1: #ece3db;
$main-color-2: #978371;
$main-color-3: #503825;
$main-color-4: #271d14;

$secondary-color-1: #ece0de;
$secondary-color-2: #9c845f;
$secondary-color-3: #7e634f;
$secondary-color-4: #302e2e;

$tertiary-color-1: #ebe9e8;
$tertiary-color-2: #c59a5b;
$tertiary-color-3: #aa5851;
$tertiary-color-4: #332929;

$logo-color: #ffcb85;
